[submodule "tools/robotlegs-ant-utilrobotlegs-utilities-AntGenerators"]
	path = tools/robotlegs-ant-utilrobotlegs-utilities-AntGenerators
	url = git@github.com:FrancisVarga/robotlegs-utilities-AntGenerator.git
